.new-chapter-banner {
  height: 50vh;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  margin-bottom: 10px;
  h1 {
    font-weight: bold;
  }
}

.new-chapter-step1 {
  background-color: #FCD265;
  padding: 20px;
  padding: 40px 200px 20px 200px;
  margin-bottom: 10px;
}

.chapter-new-step2 {
  background-color: #607B7D;
  padding: 20px;
  padding: 40px 200px 20px 200px;
  margin-bottom: 10px;
}

.chapter-new-form .form-control {
  border: none;
  -webkit-box-shadow: none;
  background-color: rgba(255, 255, 255, 0.6);
}


.chapter-new-title {
  text-align: center;
}

#chapter-content {
  margin-top: 10px;
  min-height: 250px;
  height: 400px;
}

.publish-chapter-button {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FBFAF2;
}

.writer-button {
  padding: 15px 30px;
}
