.content {
  display: flex;
  width: 100%;
  padding-top: 70px;
}

.chapter-navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FBFAF2;
  h1 {
    font-size: 20px;
    color: rgb(5,5,5);
    margin: 0;
  }
}


.feedback {
  margin-top: 70px;
  margin-bottom: 100px;
}

.overview {
  position: fixed;
  width: 20%;
  a {
    margin: 0px;
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    position: absolute;
    top: 10px;
    left: 70px;
  }
  a:hover {
    text-decoration: none;
  }
}

.chapters {
  position: absolute;
  top: 45px;
  left: 80px;
  p {
    color: rgba(136, 136, 136, 1);
    font-size: 13px;
    line-height: 30px;
  }
}

.text-content {
  width: 80%;
  margin: 5px 300px;
  text-align: justify;
}
