.reader {
  background-color: #fff;
}

.chapter-navbar {
  display: flex;
  justify-content: space-around;
  background-color: #FBFAF2;
  h1 {
    font-size: 20px;
    color: rgb(5,5,5);
    margin: 0;
  }
}

.overview {
  width: 240px;
  height: 100vh;
  position: absolute;
  top: 100px;
  left: 0;
  a {
    color: rgba(136, 136, 136, 1);
    font-size: 14px;
    position: absolute;
    left: 50px;
  }
  a:hover {
    text-decoration: none;
  }
}

.chapters {
  position: absolute;
  top: 55px;
  left: 50px;
  p {
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
  }
}
