// Specific CSS for your home-page
.banner {
  height: 500px;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn-cta {
  border-radius: 3px;
  border: solid 2px black;
  font-family: MarkPro;
  font-size: 16px;
  color: black;
  margin-bottom: 138px;
  &:hover {
  font-family: MarkPro;
  font-size: 16px;
  color: black;
  }
}

.banner-cta {
  width: 270px;
  height: 40px;
  border-radius: 3px;
  border: solid 2px #ffffff;
  text-align: center;
  font-family: MarkPro;
  font-size: 20px;
  font-weight: bold;
}

.banner-content {
    font-family: MarkPro;
    font-size: 54px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 172px;
  h1 {
  font-family: MarkPro;
  font-weight: bold;
  text-align: center;
  color: #000000;
  }
 }

.container {
    padding-left: 0px;
    padding-right: 0px;
}

.master-tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 30.5px;
    margin-right: 0px;
    margin-right: 0px;
  p {
    font-size: 16px;
    margin: 0px 11px 11px;
  }
}

.tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0px 0 0px;
    text-align: left;
}

.tabs a {
  color: #8b8b8b;
  margin-right: 0;
}
.tabs a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.tabs p {
  margin-bottom: 0;
}
.tab {
  //flex: 20 0 26%;
  padding: 4px 0;
  margin: 0 15px;
  margin-left: 0;
  margin-right: 5px;
  h2 {
  font-family: MarkPro;
  font-size: 16px;
  margin-top: 0;
  font-color: #C0C0C0
  }
}

.active {
  color: black;
  border-bottom: solid 0.5px #000000;
  margin-left: 0;
  p {
    color: black;
  }
}

.active a {
  color: black;
  font-size: 16px;
  font-weight: bold;
}

.banner-quote {
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
  margin-bottom: 10px
}

.quote-content {
  h1 {
  font-family: MarkPro;
  font-size: 25px;
  color: #fcd265;
  }
  p {
    justify-content: left;
    font-size: 15px;
    color: #fcd265;
  }
}

.card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 30.5px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 30.5px;
}

.container-animation {
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 170px;
  h1 {
  font-family: MarkPro;
  font-size: 25px;
  color: #fcd265;
  }
  p {
    margin-right: 10px;
    font-size: 12px;
    color: #fcd265;
  }
}

.item-1,
.item-2,
.item-3 {
  position: absolute;
  display: block;
  top: 2em;
  width: 60%;
  font-size: 2em;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.item-1{
  animation-name: anim-1;
}

.item-2{
  animation-name: anim-2;
}

.item-3{
  animation-name: anim-3;
}

@keyframes anim-1 {
  0%, 8.3% { left: -100%; opacity: 0; }
  8.3%,25% { left: 20%; opacity: 1; }
  33.33%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-2 {
  0%, 33.33% { left: -100%; opacity: 0; }
  41.63%, 58.29% { left: 20%; opacity: 1; }
  66.66%, 100% { left: 110%; opacity: 0; }
}

@keyframes anim-3 {
  0%, 66.66% { left: -100%; opacity: 0; }
  74.96%, 91.62% { left: 20%; opacity: 1; }
  100% { left: 110%; opacity: 0; }
}



