<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
   <strong>RateMyBook</strong> - Le livre le plus plébiscité est édité
  </div>
</div>
