<div class="banner" style="background-image: url(<%= image_url('group-2.png') %>);">

  <div class="banner-content">
    <h1>  Lisez. Commentez. Notez.
Le livre le plus plébiscité est édité ! </h1>
  </div>


  <div class="btn btn-cta">
    Parcourir la Bibliothèque
  </div>
</div>

<div class="container">
  <div class="master-tab">
    <div class="tabs">
      <a class="tab active" href="#">
        <p>Science Fiction</p>
      </a>
      <a class="tab" href="#">
        <p>Policier</p>
      </a>
      <a class="tab" href="#">
        <p>Romance</p>
      </a>
      <a class="tab" href="#">
        <p>Biographie</p>
      </a>
      <a class="tab" href="#">
        <p>Fantastique</p>
      </a>
      <a class="tab" href="#">
        <p>Historique</p>
      </a>
    </div>
    <div class="tabs">
      <a class="tab" href="#">
        <h2>Tout afficher</h2>
      </a>
    </div>
  </div>
</div>
