<div class="banner" style="background-image: url(<%= image_url('group-2.png') %>);">

  <div class="banner-content">
    <h1>  Lisez. Commentez. Notez. <br>Le livre le plus plébiscité est édité !  </br></h1>
  </div>

  <div class="btn btn-cta">
    Parcourir la Bibliothèque
  </div>
</div>

<div class="container">
  <div class="master-tab">
    <div class="tabs">
      <a class="tab active" href="#">
        <p>Science Fiction</p>
      </a>
      <a class="tab" data-target="#policier">
        <p>Policier</p>
      </a>
      <a class="tab" data-target="#romance">
        <p>Romance</p>
      </a>
      <a class="tab" data-target="#biographie">
        <p>Biographie</p>
      </a>
      <a class="tab" data-target="#fantastique">
        <p>Fantastique</p>
      </a>
      <a class="tab" data-target="#historique">
        <p>Historique</p>
      </a>
    </div>
   <div class="tabs">
      <a class="tab" data-target="#toutafficher">
        <h2>Tout afficher</h2>
      </a>
    </div>
  </div>
</div>



      <div class="tab-content hidden" id="romance">
        <p>Here are my projects.</p>
      </div>
      <div class="tab-content hidden" id="romance">
        <p>Contact me if you want.</p>
      </div>
      <div class="tab-content hidden" id="biographie">
        <p>Contact me if you want.</p>
      </div>
      <div class="tab-content hidden" id="fantastique">
        <p>Contact me if you want.</p>
      </div>
      <div class="tab-content hidden" id="historique">
        <p>Contact me if you want.</p>
      </div>
    </div>

<div class="container-fluid" style="background-color: #E1F1EE;">
  <div class="card-container">
    <% @books.each do |book| %>
      <%= render 'books/book_cards', book: book %>
    <% end %>
  </div>
</div>

<div class="container-animation" style="background-color: white;">
      <h1 class="item-1">“L’art n’est pas d’arriver avec des idées neuves mais d’interpréter ces idées qui nous entourent depuis toujours.” George Lucas </h1>
      <h1 class="item-2">“La vie est la source de la littérature et la littérature doit être fidèle à la vie.” Gao Xingjian</h1>
      <h1 class="item-3">“Les mots donnent, en moyenne, autant d’idées que les idées donnent de mots.” Paul Valery</h1>
</div>

<div class="container">
  <div class="master-tab">
    <div class="tabs" style="font-weight: bold">
        <p>Nouveautés</p>
    </div>
    <div class="tabs">
      <a class="tab" data-target="#toutafficher">
        <h2>Tout afficher</h2>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #EDE8F0;">
  <div class="card-container">
    <% @books.each do |book| %>
      <%= render 'books/book_cards', book: book %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="master-tab">
    <div class="tabs" style="font-weight: bold">
        <p>Les Plus Populaires</p>
    </div>
    <div class="tabs">
      <a class="tab" data-target="#toutafficher">
        <h2>Tout afficher</h2>
      </a>
    </div>
  </div>
</div>

<div class="container-fluid" style="background-color: #E3E9F3;">
  <div class="card-container">
    <% @books.each do |book| %>
      <%= render 'books/book_cards', book: book %>
    <% end %>
  </div>
</div>

