<div class="banner" style="background-image: url(<%= image_url('group-2.png') %>);">

  <div class="banner-content">
    <h1>  Lisez. Commentez. Notez.
Le livre le plus plébiscité est édité ! </h1>
    </div>
   <h2 class="banner-cta">
   Parcourir la Bibliothèque</h2>
</div>
