<div class="book-card">

  <div class="rectangle-1">
    <div class="rectangle-2">
      <div class="description">
        <h2><%= book.title %></h2>
        <h3><%= book.category %></h3>
        <div class="summary">
        <p><%= book.summary %></p>
        </div>
      <% link_to "", book_path(book) %>

    </div>
  </div>

</div>


