<div class="class book-card">

<div class="rectangle-1">
  <div class="rectangle-2">
    <div class="card-title">
      <h2><%= book.title %></h2>
      <h3><%= book.category %></h3>
    </div>

    <div class="description">
      <p><%= book.summary %></p>
    </div>
    <%= link_to "", book_path(book) %>
  </div>
</div>

</div>
