<div class="reader">

  <div class="navbar-wagon chapter-navbar">
    <div class="title">
      <h1>
        <%= @chapter.title %>
      </h1>
    </div>
  </div>

  <div class="overview">
    <h2><a href="">Sommaire  ></a></h2>
    <div class="chapters">
      <% @chapter.book.chapters.all.each do |chapter| %>
        <p><%= chapter.title %></p>
      <% end %>
    </div>
  </div>

  <div class="text-content">

  </div>
</div>
