.book-card {
  width: 224px;
  height: 292.5px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
}

.rectangle-1 {
  width: 190px;
  height: 250px;
  border: solid 0.5px #b69fbf;
}

.rectangle-2 {
  width: 185px;
  height: 245px;
  border: solid 0.5px #b69fbf;
}
