.margin-top {
  margin-top: 30px;
}

.card-large-level-3 {
  background-color: #fff;
  height: 450px;
  width: 320px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.card-large-level-2 {
  background-color: #fff;
  height: 420px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card-large-level-1 {
  background-color: #fff;
  height: 410px;
  width: 280px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-small-level-3 {
  height: 173px;
  width: 123px;
}

.card-small-level-2 {
  height: 161px;
  width: 111px;
}

.card-small-level-1 {
  height: 157px;
  width: 107px;
}

.card-large-content {
  position: absolute;
  top: 25%;
  text-align: center;
  h2 {
    font-weight: bold;
    padding: 0px 20px;
    font-size: 35px;
  }
  p {
  margin-top: 20px;
  }
}

.card-small-content {
  h2 {
    padding: 0px 20px;
    font-size: 18px;
  }
  p {
  margin-top: 15px;
  font-size: 14px;
  }
}

.book-description-header h1 {
  font-size: 50px;
}

.book-description-header h2 {
  font-size: 25px;
  margin-top: 10px;
  font-weight: lighter;
}

.book-description-body {
  font-weight: lighter;
  margin-top: 40px;
  margin-bottom: 20px;
}

.resume-reading-button {
  color: #fff;
  // background-color: #B69FBF;
  border: 1px solid #B69FBF;
  border-radius: 2px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
    color: #B69FBF;
    background-color: rgba(0, 0, 0, 0);
  }
}

.book-button {
  padding: 30px 0px;
}

.contents {
  margin-top: 50px;
  padding: 0 65px;
  h2 {
    font-weight: bold;
  }
}

.chapter-info {
  padding: 25px 5px;
  border-bottom: 1px solid #DDD;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid rgba(0, 0, 0, 0);
}

.chapter-stats {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stats {
  display: flex;
  padding: 0 16px;
  p {
    margin: 0;
    color: #969696;
  }
  img {
    padding: 0 7px;
    svg:hover {
      fill: #000;
    }
  }
}

.to-be-continued {
  text-align: center;
margin: 30px 0;
}


// MODAL

.modal-window {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // z-index: 999;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal-window:target {
  opacity: 1;
  pointer-events: auto;
}

.modal-window > div {
  width: 1000px;
  position: relative;
  margin: 10% auto;
  padding: 20px 25px;
  background: #fff;
  color: #444;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  border-radius: 4px;
}


.header-of-modal {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 20px;
  h1 {
    font-size: 20px;
  }
  p {
    margin: 0;
    color: #a6a6ae;
  }
  .modal-close {
    color: #aaa;
  }
}

.modal-body {
  margin-top: 20px;
  height: 400px;
  overflow-y: auto;
  padding: 25px 20px;
}

.modal-close:hover {
  color: #000;
}

.review-content {
  position: relative;
  background-color: #fbfaf2;
  padding: 70px 50px 20px 50px;
  border-radius: 3px;
  margin-bottom: 80px;
  width: 800px;
  min-height: 150px;
}

.review-user-avatar {
  position: absolute;
  width: 75px;
  top: -25px;
  left: -25px;
}

.review-user-name {
  position: absolute;
  font-weight: bold;
  top: 30px;
  left: 90px;
}

.review {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.review-upvotes {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

.review-quotes {
  width: 65px;
  position: absolute;
  top: -25px;
  right: 30px;
}

.review-date {
  position: absolute;
  color: #a6a6ae;
  font-size: 13px;
  right: 5px;
  bottom: -35px;
}

.review-upvote-icon {
  width: 30px;
  margin-bottom: 10px;
}
