.button {
  color: #fff;
  border-color: #B69FBF;
  background-color: #B69FBF;
  border: 1px solid #B69FBF;
  border-radius: 2px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
    color: #B69FBF;
    background-color: rgba(0, 0, 0, 0);
  }
}
