.margin-top {
  margin-top: 30px;
}

.card-large-level-3 {
  background-color: #fff;
  height: 470px;
  width: 340px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.card-large-level-2 {
  border: 1px solid #B69FBF;
  background-color: #fff;
  height: 440px;
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card-large-level-1 {
  border: 1px solid #B69FBF;
  background-color: #fff;
  height: 430px;
  width: 300px;
  display: flex;
  justify-content: center;
  position: relative;
}

.card-large-content {
  position: absolute;
  top: 25%;
  text-align: center;
  h2 {
    font-weight: bold;
    padding: 0px 20px;
    font-size: 35px;
  }
  p {
  color: #B69FBF;
  margin-top: 20px;
  }
}

.book-description-header h1 {
  font-size: 50px;
}

.book-description-header h2 {
  font-size: 25px;
  margin-top: 10px;
  font-weight: lighter;
}

.book-description-body {
  font-weight: lighter;
  margin-top: 40px;
  margin-bottom: 20px;
}

.book-button {
  text-align: center;
  padding: 30px 0px;
}

.contents {
  margin-top: 50px;
  h2 {
    font-weight: bold;
  }
}

.chapter-title {
  padding: 25px 5px;
  border-bottom: 1px solid #DDD;
}
