.nav-tabs > li.active a {
  border: none;
  border-bottom: 1px solid #000000;
  color: black;
}


.nav-tabs > li > a {
  border: none;
  background-color: transparent;
  color: black;
}

.nav-tabs > li {
  border: none;
  background-color: transparent;
  color: black;
  opacity: 0.6;
}
