/* Main navbar */
.search-navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: #fff;
  transition: all 0.3s ease;
  height: 85px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  position: sticky;
  top: 0;
  background-color: rgba(255,255,255,0.95);
  z-index: 2;
  h1 {
    text-align: center;
  }
}

.dropdown-arrow {
  position: relative;
  top: 5px;
}
/* Logo */
.navbar-wagon-brand img {
  height: 40px;
}

.search-navbar-headline {
  position: absolute;
  width: 500px;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    font-size: 28px;
    font-weight: bold;
    padding-right: 10px;
  }
  img {
    height: 30px;
  }
}

/* User Avatar */
.search-navbar .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

/* Right section */
.navbar-wagon-right {
  text-align: right;
  position: absolute;
  right: 20px;
}


/* Basic navbar item */
.navbar-wagon-item {
  font-weight: bold;
  font-size: 15px;
}

/* Navbar link */
.navbar-wagon-link {
  font-size: 15px;
}

.navbar-wagon-link:hover {
  color: #da552f;
  text-decoration: none;
  pointer: cursor;
}

/* Dropdown menu */
.navbar-wagon-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-wagon-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-wagon-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-wagon-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

/* category menu */
.fa {
  display: flex;
  justify-content: center;
}

.blank {
  visibility: hidden;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  h1 {
    font-size: 14px;
    margin-top: 5px;
  }
}


.cadre {
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0);
  position: fixed;
  z-index: 1;
}
