<svg width="45px" height="35px" viewBox="0 0 28 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>comment</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="comment-icon" fill-rule="nonzero" fill="#C0C0C0">
            <path d="M28,10.5334457 L28,11.8865097 C28,11.9493794 27.9636,12.012249 27.9552,12.0751187 C27.7565302,14.0271483 26.9647827,15.8766662 25.6816,17.3862368 C23.9988,19.4171996 21.84,20.7565964 19.32,21.5957694 C17.6731945,22.140455 15.9459545,22.417486 14.2072,22.4158082 C12.7473963,22.3968187 11.2907002,22.278997 9.8476,22.0631916 C9.60704369,22.0197352 9.35850295,22.062439 9.1476,22.1834639 C7.60770882,23.0911605 5.89144589,23.6766473 4.1076,23.902812 C3.50860834,23.9756295 2.9051458,24.0075974 2.3016,23.9984831 C1.99565509,23.9890731 1.71917299,23.8179406 1.57995737,23.5518123 C1.44074174,23.285684 1.46083403,22.9666949 1.6324,22.7192226 C1.71090039,22.5960495 1.79790165,22.4782382 1.8928,22.3666059 C2.68604869,21.4028989 3.35729899,20.3492806 3.892,19.2285907 C3.93093871,19.1767171 3.94611191,19.1114079 3.93390759,19.0482103 C3.92170327,18.9850127 3.88321318,18.92958 3.8276,18.8951082 C2.85311657,18.0839625 2.02330646,17.1205361 1.372,16.0441066 C0.821060579,15.1333094 0.429304178,14.1393168 0.2128,13.1029006 C0.1316,12.7038151 0.07,12.2828618 0,11.8865097 L0,10.5334457 C0.0210988242,10.456946 0.037923631,10.3793836 0.0504,10.3011013 C0.219701278,8.68942136 0.797037291,7.14417251 1.7304,5.80455509 C2.75613736,4.34726386 4.09357418,3.12461131 5.6504,2.22098542 C7.15045422,1.33120499 8.79685585,0.701425869 10.5168,0.359497289 C13.2056085,-0.199330084 15.9938093,-0.105469948 18.6368,0.632843564 C20.1299866,1.04121583 21.5475329,1.67779173 22.8368,2.51893287 C24.2678624,3.43761994 25.485893,4.63881111 26.4124,6.04509982 C27.0715473,7.03408872 27.5358925,8.13445673 27.7816,9.2897201 C27.8656,9.70247299 27.9272,10.1179593 28,10.5334457 Z" id="Shape"></path>
        </g>
    </g>
</svg>
