<svg width="50px" height="35px" viewBox="0 0 33 19" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>eye</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="eye" fill-rule="nonzero" fill="#C0C0C0">
            <path d="M32.9976901,9.43750381 C32.9970301,9.42338785 32.9957102,9.40994415 32.9947202,9.39616428 C32.9940602,9.3891063 32.9937302,9.38204832 32.9930702,9.37532651 C32.9920802,9.36524367 32.9904302,9.35516083 32.9891103,9.34541416 C32.9877903,9.33365089 32.9864704,9.32188762 32.9844905,9.31046044 C32.9841605,9.30911609 32.9838305,9.30743558 32.9838305,9.30609123 C32.9432417,9.04629094 32.8231253,8.80262312 32.6389908,8.61508296 C31.5863224,7.34431331 30.3340099,6.2133586 29.0605782,5.1805432 C26.3180305,2.95493188 23.1814745,1.09297376 19.7192184,0.343485196 C17.7181585,-0.0894032636 15.7045588,-0.107888408 13.6929392,0.258453534 C11.8631441,0.591858311 10.099677,1.28488316 8.44906656,2.1439382 C5.86557404,3.48831231 3.50614481,5.34186809 1.45030649,7.41993435 C1.06982791,7.80442535 0.69132926,8.19698258 0.345499635,8.61474679 C-0.115166545,9.17064554 -0.115166545,9.82905277 0.345499635,10.3849514 C1.39816806,11.6557211 2.65048049,12.7863396 3.92391228,13.8194912 C6.66679,16.0451025 9.80334589,17.9067245 13.265602,18.656213 C15.266662,19.0894376 17.2805916,19.1079228 19.2922113,18.7415808 C21.1216763,18.408176 22.8851434,17.7151512 24.5360839,16.8560961 C27.1195764,15.5113859 29.4790056,13.6581662 31.534844,11.5801 C31.9153225,11.1952729 32.2938212,10.8030518 32.6396508,10.3852875 C32.8237853,10.1974113 32.9439016,9.95407954 32.9844905,9.69394316 C32.9844905,9.69259873 32.9848205,9.6909183 32.9851504,9.68957395 C32.9871304,9.67781068 32.9884503,9.6663835 32.9897703,9.65462023 C32.9910902,9.64487347 32.9927402,9.63479072 32.9937302,9.62470788 C32.9943902,9.6176499 32.9947202,9.61092801 32.9953802,9.60387011 C32.9963701,9.59042633 32.9976901,9.57698262 32.9983501,9.56286667 C32.99934,9.5420289 33,9.52119105 33,9.50001719 C33,9.47884326 32.99868,9.45834158 32.9976901,9.43750381 Z M16.5,16 C12.9099839,16 10,13.0900161 10,9.5 C10,5.9103217 12.9099839,3 16.5,3 C20.0900161,3 23,5.90998388 23,9.5 C23,13.0900161 20.0900161,16 16.5,16 Z" id="Shape"></path>
            <circle id="Oval" opacity="0.900000036" cx="16.5" cy="9.5" r="2.5"></circle>
        </g>
    </g>
</svg>
