<svg width="35px" height="35px" viewBox="0 0 15 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 46 (44423) - http://www.bohemiancoding.com/sketch -->
    <title>flag</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="flag" fill-rule="nonzero" fill="#C0C0C0">
            <path d="M13.9478418,3.75 L1.05215828,3.75 C0.458633093,3.75 0,4.21396605 0,4.81439272 L0,23.3457428 C0,23.7551245 0.215827339,24.1099222 0.59352518,24.2736749 C0.971223028,24.4374276 1.37589928,24.4101354 1.67266187,24.1372143 L7.5,19.4975537 L13.3273382,24.1372143 C13.4892086,24.300967 13.7320144,24.3555512 13.9478418,24.3555512 C14.1097122,24.3555512 14.2446043,24.300967 14.4064748,24.2190907 C14.7841727,24.0553378 15,23.6732483 15,23.2911585 L15,4.75980847 C15,4.21396605 14.5413669,3.75 13.9478418,3.75 Z" id="Shape"></path>
            <rect id="Rectangle-path" x="0" y="0" width="15" height="1.875"></rect>
        </g>
    </g>
</svg>
