.image-banner {
  height: 50vh;
  width: 100%;
  background-image: url('Group-3.png');
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-position: center center;
  margin-bottom: 10px;
  h1 {
    font-weight: bold;
  }
}

.category-choice {
  height: 150px;
  background-color: #FCD265;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

#book_category {
  background-color: #FCD265;
  border: solid 1px rgba(0,0,0,1);
  width: 200px;

  &:hover {
    box-shadow: none;
  }
}


.title-choice {
  height: 150px;
  background-color: #607B7D;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
  h2 {
    color: white;
  }
}

#book_title {
  background-color: #607B7D;
  border: none;
  box-shadow: none;
  text-align: center;
  width: 60em;
  &:hover, &:focus {
    border: none;
  }
}

//style des placeholders, syntaxe différente pour chaque navigateur

#book_title:-moz-placeholder {
  color: rgba(255,255,255,0.6);
  font-size: 20px;
}

#book_title::-moz-placeholder {
  color: rgba(255,255,255,0.6);
  font-size: 20px;
}

#book_title::-webkit-input-placeholder {
  color: rgba(255,255,255,0.6);
  font-size: 20px;
}

#book_title:-ms-input-placeholder {
  color: rgba(255,255,255,0.6);
  font-size: 20px;
}

#book_summary:-moz-placeholder {
  color: rgba(0,0,0,0.2);
  font-size: 17px;
}
#book_summary::-moz-placeholder {
  color: rgba(0,0,0,0.2);
  font-size: 17px;
}

#book_summary::-webkit-input-placeholder {
  color: rgba(0,0,0,0.2);
  font-size: 17px;
}

#book_summary:-ms-input-placeholder {
  color: rgba(0,0,0,0.2);
  font-size: 17px;
}
/////////////////////////////////////////////////////////

#book_summary {
  border: none;
  box-shadow: none;
  background-color: #FBFAF2;
  width: 60em;
  height: 6em;
  &:hover {
    box-shadow: none;
    border: none;
  }
  &:focus {
    box-shadow: none;
    border: none;
  }
}

.summary {
  margin-bottom: 10px;
  background-color: #FBFAF2;
  height: 300px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.step {
  height: 40px;
  width: 40px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  border: solid 2px black;
  position: absolute;
  right: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.become-writer-button {
  margin: 20px;
  display: flex;
  justify-content: space-around;
}

.writer-button {
  padding: 15px 30px;
}


#step-2 {
  border-color: white;
  color: white;
}
