.dashboard {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  background-color: #EBEEF2;
  height: 90vh;
}

.profile-details {
  grid-row: 1 / span 2;
  grid-column: 1 / span 1;
  border-radius: 1px;
  border: 1px solid #e0e3e9;
  background-color: #ffffff;
  // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  margin: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  h2 {
    font-size: 20px;
  }
  p {
    color: rgba(136, 136, 136, 1);
    font-size: 12px;
  }
}


.edit-button {
  color: rgba(136, 136, 136, 1);
  border: solid 1px rgba(136, 136, 136, 1);
  padding: 5px 10px;
  border-radius: 1.5px;
  font-size: 13px;
  margin: 10px 30px;
}

.edit-button:hover {
  text-decoration: none;
  color: rgba(136, 136, 136, 1);
}

.reader {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
  margin: 20px;
  h2 {
    font-size: 18px;
    color: rgba(136, 136, 136, 1);
    margin: 5px 10px;
  }
}

.writer {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
  margin: 20px;
  margin-top: 5px;
  padding: 5px 10px;
}



.view {
  grid-row: 1 / span 4;
  grid-column: 2 / span 3;
  margin: 20px;
  border: 1px solid #e0e3e9;
  background-color: #fff;
}

.view-header {
  padding-left: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  h1 {
    font-size: 22px;
    font-weight: bold;
  }
}

.news {
  border-radius: 1.5px;
  position: relative;
}

.chapter-feed {
  padding: 30px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 200px;
}

.feed-book-info {
  position: relative;
  margin: 0 20px;
}

.book-author {
  width: 100px;
}

.book-title {
  font-size: 14px;
}

.chapter-title {
  font-size: 20px;
  font-weight: bold;
}

.chapter-content {
  text-align: justify;
  color: #a6a6ae;
}

.chapter-date {
  position: absolute;
  top: 35px;
  right: 0px;
  font-size: 14px;
  color: #C0C0C0;
}


.feed-icon {
  img {
    width: 20px;
    margin: 30px;
  }
}

.new:first-child {
  margin-top: 0;
}

.tabs {
  display: flex;
  justify-content:  space-around;
  flex-direction: column;
  width: 100%;
}

.tab {
  padding: 5px 12px;
}

.tab p {
  color: rgba(136, 136, 136, 1);
  margin: 0;
}

.active  {
  border-left: solid 2px rgb(5,5,5);
  background-color: rgba(0, 0, 0, 0.1);
}

.active p {
  color: rgb(5,5,5);
}

.tabs a:hover {
  text-decoration: none;
}

#reviews {
  margin: 30px;
}

.dashboard-review {
  padding: 28px;
  border-bottom: solid 1px rgba(136, 136, 136, 1);
}


.become-writer{
  border-radius: 3px;
  background-color: #5F9EA0;
  border: solid 0.5px #5F9EA0;
  color: #fff;
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.become-writer:hover {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
}

#chapter-title {
  margin-right: 20px;
}

#book-title {
  font-weight: bold;
  margin-right: 5px;
}

#book-author {
  color: rgba(136, 136, 136, 1)
}

#review-chapter-title {
  margin-right: 20px;
}

#review-author {
  font-weight: bold;
  margin-right: 20px;
}

#review-content {
  color: rgba(136, 136, 136, 1)
}

.dashboard-button {
  color: #fff;
  background-color: #B69FBF;
  border: 1px solid #B69FBF;
  border-radius: 2px;
  padding: 10px 15px;
  &:hover {
    text-decoration: none;
    color: #B69FBF;
    background-color: rgba(0, 0, 0, 0);
  }
}

.dashboard-link {
  color: #fff;
  &:hover {
    text-decoration: none;
    color: #B69FBF;
  }
}

